html,
body,
.site-wrapper {
  min-height: 100vh;
}

body {
  color: #3b4256;
  background-color: #f4f7fb;

  .site-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .site-header {
    flex: 0 0 auto;
  }

  .site-content {
    flex: 1 0 auto;
  }

  .site-footer {
    flex: 0 0 auto;
  }
}
