@import "bootstrap/dist/css/bootstrap.min.css";

@import "variables.pcss";
@import "layout.pcss";

@import "components/header.pcss";
@import "components/map.pcss";
@import "components/statistics.pcss";
@import "components/footer.pcss";
@import "components/bubble.pcss";
@import "components/buttons.pcss";
